html, body, h1, h3, h4, div, p, ul, li {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

body {
    background: #2c2924 url(http://js.trip.cmbchina.com/static/platinum_card/bg.jpg) no-repeat top center;
    font: normal 12px "Microsoft YaHei", Arial, sans-serif;

    .opacity {
        background-color: #000;
        opacity: 0.5;
    }
}

.header-wrap {
    width: 1000px;
    margin: 0 auto;

    .nav {
        height: 60px;
        background: linear-gradient(to bottom, #f7001a 0%,#c90015 100%);

        .header-icon {
            width: 100px;
            height: 60px;
            line-height: 90px;
            display: inline-block;
            color: #fff;
            font-size: 12px;
            text-align: center;
            text-shadow: 0 1px #b50013;
            overflow: hidden;
            cursor: pointer;

            &:hover {
                color: #f7001a;
                background-color: #d1d1d1;
                text-shadow: none;
            }
        }
    }

    .header-tip {
        height: 30px;
        line-height: 30px;
        margin-top: 1px;
        background: #fc0;
        text-align: center;
    }

    .describe {
        position: relative;
        height: 70px;
        margin-top: 220px;
        padding: 10px 24px;
        font-size: 14px;
        line-height: 22px;
        color: #fff;
        background: url(http://js.trip.cmbchina.com/static/platinum_card/filter.png) repeat;

        .signin {
            position: absolute;
            top: 30px;
            right: 24px;
            width: 230px;
            height: 45px;
            line-height: 45px;
            text-align: center;
            font-size: 16px;
            background-color: #a68145;
            border-radius: 2px;
            cursor: pointer;
        }
    }
}

.hotel-list {
    position: relative;
    width: 1000px;
    margin: 0 auto 30px;

    .hotel {
        position: relative;
        padding: 10px;
        margin-bottom: 15px;
        background-color: #fff;
        a {
            width: 540px;
            height: 310px;
        }

        .hotel-info {
            width: 400px;
            float: right;

            .ht-name {
                padding: 10px 0 15px 0;
                border-bottom: 1px dotted #dbdbdb;

                .cn-name {
                    max-width: 260px;
                    display: inline-block;
                    color: #434343;
                    font-size: 22px;
                    font-weight: normal;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }

                .hotel-star {
                    display: inline-block;
                    margin: -3px 0 0 10px;
                    vertical-align: middle;
                }

                .en-name {
                    display: block;
                    height: 16px;
                    line-height: 16px;
                    color: #c1c1c1;
                    font-size: 14px;
                    font-style: italic;
                    margin-top: 8px;
                }

                .brief {
                    color: #434343;
                    margin-top: 10px;
                    display: block;
                }
            }

            .configuration {
                margin-top: 20px;
                font-size: 14px;

                dl, dd, dt {
                    display: block;
                }

                dl {
                    margin-bottom: 10px;
                }

                dt {
                    float: left;
                    width: 50px;
                    color: #707070;
                }

                .ht-label {
                    display: inline-block;
                    margin-right: 5px;
                    color: #a68145;
                }

                .blue {
                    color: #00b5e2;
                }
            }
        }
        .price {
            // display: block;
            // position: absolute;
            // top: 275px;
            // left: 590px;
            // color: #434343;
            // font-size: 18px;

            s {
                font-size: 22px;
                margin: 0 5px;
                font-style: italic;
            }
        }

        .show-price {
            // width: 128px;
            // height: 40px;
            // display: block;
            // position: absolute;
            // bottom: 20px;
            // right: 20px;
            // background-color: #a68145;
            // font-size: 16px;
            // color: #fff;
            // line-height: 40px;
            // text-align: center;
        }

        .room {
            width: 100%;
            min-height: 100px;
            margin: 15px auto 25px;
            color: #666;
            text-align: left;
            border-collapse: collapse;

            thead {
                background: #fafafa;
                height: 35px;
                line-height: 35px;
                th {
                    font-size: 16px;
                    font-weight: normal;
                    border-bottom: 1px solid #e7e7e7;
                    padding: 5px 10px;
                }
            }

			tbody {
				td {
					border-bottom: 1px dotted #e7e7e7;
					padding: 5px 10px;
					.tag {
						font-size: 12px;
						display: inline-block;
						height: 20px;
						line-height: 20px;
						border: 1px solid #e1e1e1;
						margin: 5px 5px;
						padding: 0 3px;
					}
					em {
						font-size: 18px;
						font-style: normal;
					    color: #b50013;
					    font-weight: 400;
					}
				}
				.spec {
					font-size: 16px;
					color: #666;
				}
				.bedname {
				    color: #a68145;
				    font-size: 14px;
				}
			}
        }
    }
}

.cityWrap {
    position: absolute;
    top: 0;
    left: 1010px;
    width: 105px;
    height: 504px;

    .cityList {
        li {
            width: 100px;
            height: 42px;
            line-height: 42px;
            border: 1px solid #b39b73;
            border-left: none;
            color: #fff;
            background-color: #a68145;
            font-size: 14px;
            text-align: center;
            cursor: pointer;

            i {
                width: 16px;
                height: 16px;
                background-image: url("data:image/jpeg;base64,/9j/4AAQSkZJRgABAQEAYABgAAD/2wBDAAgGBgcGBQgHBwcJCQgKDBQNDAsLDBkSEw8UHRofHh0aHBwgJC4nICIsIxwcKDcpLDAxNDQ0Hyc5PTgyPC4zNDL/2wBDAQkJCQwLDBgNDRgyIRwhMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjIyMjL/wgARCAAQABADASIAAhEBAxEB/8QAFgABAQEAAAAAAAAAAAAAAAAAAwIG/8QAFQEBAQAAAAAAAAAAAAAAAAAABAX/2gAMAwEAAhADEAAAAdPRvGb/AP/EABgQAQEBAQEAAAAAAAAAAAAAAAMCAQQS/9oACAEBAAEFAtWkQV2q8Uac47lf/8QAFxEAAwEAAAAAAAAAAAAAAAAAAAISE//aAAgBAwEBPwFs4P/EABoRAQABBQAAAAAAAAAAAAAAABETAAEDIXH/2gAIAQIBAT8BxTzWVd8r/8QAGhABAAMAAwAAAAAAAAAAAAAAAQAREgIhYf/aAAgBAQAGPwKhQ8mXuWFk3yn/xAAaEAACAwEBAAAAAAAAAAAAAAAAEQExQSFR/9oACAEBAAE/IfOw7GR6qSXXyQjCVQf/2gAMAwEAAgADAAAAEJ//xAAZEQEAAgMAAAAAAAAAAAAAAAARIVEAAYH/2gAIAQMBAT8QmAGi2e1n/8QAGhEAAQUBAAAAAAAAAAAAAAAAEQAxQVFhgf/aAAgBAgEBPxDUCQZywv/EABwQAQACAgMBAAAAAAAAAAAAAAERIQAxQWGRsf/aAAgBAQABPxC1PoFCCb2fcmuQlN1xgUoVHYSH3CFCRty1Ln//2Q==");
            }
            // a {
            // 	width: 101px;
            // 	background-color: #a68145;
            // }
        }

        li:hover, .active {
            width: 105px;
            border-radius: 0 5px 5px 0;
            background-color: #fff;
            color: #a68145;
        }

        // .active {
        // 	width: 105px;
        // 	border-radius: 0 5px 5px 0;
        // 	background-color: #fff;
        //     color: #a68145;
        // }
    }
}
